<main>
   <div>
      <canvas id="lineChart"></canvas>
   </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>